/* колір осн тексту #757575 */
/* другорядний колір тексту #212121 */
/* білий колір тексту #FFFFFF */
/* акцент тексту  #2196F3 */
/* другорядний колір фону #F5F4FA */

:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --primary-bg-color:#F5F5F5;
    --time-bg-color:#F5F4FA;
    --hero-bg-color:#2F303A;
}
body{
    font-family: 'Roboto';
    color:var(--primary-text-color) ;
    background-color: #F5F5F5;
}
ul{
    list-style: none;
}
/*header*/


.logo{
    color:var(--accent-color) ;

}
.second-logo{
    color:var(--title-text-color) ;
}

/*nav*/
.site-nav .link.current{
    color: var(--accent-color);
}

.site-nav .link{
color: var(--title-text-color);
}

[href^="tel"] {
    color: var(--primary-text-color);
}

/*hero*/
.hero-title{
    color:var(--white-color) ;
}
/*section*/

 .section-title{
    color:var(--title-text-color) ;
 }


/*fetures*/
 .feature-title{
    color:var(--title-text-color) ;
 }

 /*description*/
.team-title{
color:var(--title-text-color) ;
}

/*examples*/
.work-title{
color:var(--title-text-color) ;
}

/*button*/

.button{
    color: var(---title-text-color);
    background:var(--time-bg-color);
}

.button.primary{
    color: var(--white-color);
    background:var(--accent-color);
}
.button.secondary{
    color: var(---title-text-color);
    background:var(--time-bg-color);
}